{% macro copy_fastq(fastq) %}

- name: copy_fastqs_{{ fastq.basename | replace(".", "_") }}
  output: temp/fastqs/{{ fastq.basename }}
  tags: [rsync,]
  sbatch_args: ['-p', 'overflow,defq']
  retry: 2
  cpus: 6
  walltime: "4:00:00"
  cmd: |
    set -uev

    {% if petaGene == 'true' %}
      export PetaLinkMode="{{ constants.tools.petagene.PetaLinkMode }}"
      module load {{ constants.tools.petagene.module }}
    {% endif %}

    mkdir -p temp/fastqs/

    {% if petaGene == 'true' %}
      rsync "{{ fastq.fasterqPath }}" "temp/fastqs/"
    {% else %}
      rsync "{{ fastq.fastqPath }}" "temp/fastqs/"
    {% endif %}

{% endmacro %}