{% macro copy_fastq(fastq, singleNode) %}

- name: copy_fastqs_{{ fastq.basename | replace(".", "_") }}
  output: temp/fastqs/{{ fastq.basename }}
  tags: [rsync,]
  sbatch_args: ['-p', 'overflow,defq']
  retry: 2
  {% if singleNode %}
  sbatch_args: ['-p', '{{ singleNode.partition }}', '--nodelist={{ singleNode.node }}']
  {% endif %}
  cpus: 6
  walltime: "4:00:00"
  cmd: |
    set -uev

    mkdir -p temp/fastqs/

    {% if fastq.fileType == "fasterq" %}
      rsync "{{ fastq.fastqPath|replace(".fastq.gz",".fasterq") }}" "temp/fastqs/"
    {% else %}
      rsync "{{ fastq.fastqPath }}" "temp/fastqs/"
    {% endif %}
{% endmacro %}