{% macro copy_fastq(fastq) %}

- name: copy_fastqs_{{ fastq.basename | replace(".", "_") }}
  output: temp/fastqs/{{ fastq.basename }}
  tags: [rsync,]
  retry: 2
  cpus: 6
  walltime: "4:00:00"
  sbatch_args: ['--profile=ltask', '--acctg-freq=task=1']
  cmd: |
    sbatch -n1 -d$SLURM_JOB_ID --wrap="sh5util -j $SLURM_JOB_ID"
    set -uev

    mkdir -p temp/fastqs/

    {% if fastq.fileType == "fasterq" %}
      rsync "{{ fastq.fastqPath|replace(".fastq.gz",".fasterq") }}" "temp/fastqs/"
    {% else %}
      rsync "{{ fastq.fastqPath }}" "temp/fastqs/"
    {% endif %}
{% endmacro %}